* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: 'Playfair Display', serif;
}
.azulClaro {
    color: #00acee;
}
.azulFacebook {
    color: #3b5998;
}
.azul {
    color: #0d8abb;
}
.rojo {
    color: #c8232c;
}
.naranja {
    color: #db4a39;
}
.morado {
    color: #833AB4;
}
.amarillo {
    color: rgb(185, 137, 35);
}
.linea {
    font-size: large;
    border-bottom: 1px solid black;
}
h2 {
    color: rgb(22, 104, 180);
    font-size: 1.2em;
    margin-top: 2em;
 
}
.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.primeraLetra::first-letter {
    font-size: 1.3em;
    
}
.medida {
    width: 70%;
    margin: auto;
    margin-top: 8em;
}
header {
    width: 100%;
    height: 14em;
    margin-top: 3em;


}

header img {
    width: 24em;
    transition: all 1s;

}
header img:hover {
    opacity: 0.5;
    transform: rotate(-20deg);
    transition: all 0.5s;
}
.descuento {
    width: 1.5%;
    height: 8em;
    background-image: linear-gradient(rgb(251,128,76),#f8a771, rgb(251,128,76));
    border-radius: 35% 0 0 35%;
    box-shadow: 0 0 5px 2px gray;
    transition: width 1s, opacity 1s;

    position: fixed;
        top: 3em;
        right: 0;
        
}
.descuento:hover  {
    width: 2.5%;
    opacity: 0.4;
}
.descuento:hover .tooltip {
    visibility: visible;
}
.tooltip  {
    visibility: hidden;
    width: 9em;
    height: 4.5em;
    background-color: #272727;
    color: white;
    text-align: center;
    font-size: small;
    border-radius: 8px;
    padding: 1em;
    position: relative;
        top: 1em;
        right: 11em;
}
.tooltip::after {
    display: block;
    content: '';
    background-color: #272727;
    width: 1em;
    height: 1em;
    transform: rotate(45deg);
    position: relative;
        bottom: 2em;
        left: 7.5em;
    z-index: -1;

}
 .texto:hover {
    visibility: visible;
}

.descuento:active {
    width: 11em;
    background-image: url(../img/cuponDescuento.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 25%;
    opacity: 1;
    transition-property: width, opacity;
    transition-duration: 0.8s;
}
.descuento:active .tooltip {
    visibility: hidden;
}
/*NAVEGADOR*/

nav {
    width: 100%;
}

#menu {
    width: 100%;
    height: 5em;
    background-image: linear-gradient(to left, #883a0c ,ivory, #883a0c);
    box-shadow: 0 0 5px 2px gray;
}
#menu ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
#menu ul li {
    margin-left: 6em;
}
#menu ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
#menu ul li a:hover {
    font-size: large;
    transition: all 0.3s;
    border-bottom: 1px solid black;
}
#imagenes {
    height: 9em;


}
#michelin {
    width: 15em;
    position: relative;
    bottom: 0.4em;
    left: 2em;

}
#sello {
    width: 9em;
    float: right;
    margin-right: 4em;
    margin-top: -0.5em;

}
#redesSociales {
    width: 100%;
    padding: 2em 3em 2em 3em;
    overflow: hidden;
}
#redesSociales ul {
    list-style: none;
    float: left;
}
#redesSociales ul li {
    display: inline-block;
    margin-right: .7em;
}
i {
    font-size: 28px;
}
#redesSociales ul li a:hover {
    opacity: 0.5;
    transition: 1s;
}
#redesSociales p {
    float: right;
    color:  #b96331;

}
/*-------PIE DE PAGINA--------------*/
footer {
    width: 1903.4px;
    margin-top: 5em;
    padding-bottom: 20px;
    background-color: rgb(58, 58, 58);
    font-size: 12.5px;

 
}

footer p {
    color: white;
    text-align: center;
}
.infPedidos {
    height: 200px;
    margin-bottom: 60px;
    text-align: center;

}
.contenidoPedidos {
    width: 33%;
    float: left;
    padding: 10px 130px;
    margin-top: 50px;
}
.copyright {
    text-align: center;
    clear: both;
    padding: 2em;
}


.barra {
    border-left: 3px solid white;
    border-right: 3px solid white;
}
.medidaLetra {
    font-size: 14px;
    display: inline;
}

/*---------------MAIN1----------*/
main {
    width: 100%;
    margin-top: 4em;
}
.tituloPrincipal {
    display: flex;
    justify-content: center;
}

h1, h3 {
    margin-bottom: 2.5em;
    word-spacing: 0.3em;
}
.scroll {
    height: 19em;
    box-shadow: inset 0 0 25px 5px black;
    background-attachment: fixed;
    background-size: cover;
}
.fotoScroll1 {
    background-image: url(../img/fr1_nigirisushi.jpg);
}
cite{
    width: 95%;
    padding: 1em 3em;
    border-left: 4px solid #0b95cc;
    letter-spacing: 0.1em;
    line-height: 1.8em;
    font-weight: 600;
    display: inline-block;
    
}

.autorCita {
    font-size: 12.8px;
    float: right;
    color: gray;
    margin-top: 2em;
}
hr {
    width: 25%;
    margin: auto;
    margin-top: 8em;
    border: 2px solid black;


}
.entrega {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;


}
.textoEntrega {
    width: 50em;
    margin-bottom: 2em;
    text-align: center;

}
.textoEntrega p {
    margin-top: 6em;
    font-size: 0.8em;
    font-weight: 600;
    
}
.textoEntrega p span {
    display: inline;
}

.fotoEntrega {
    width: 360px;

}
.fotoEntrega img {
    width: 22em;
    box-shadow: 0 0 5px 2px black;
}
.fotos {
    text-align: center;
    font-size: 16px;
}
.contenedorPadreFotos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 4em;

    
}
.contenedorFotos {
    box-shadow: 0 0 10px 2px gray;
    width: 12em;
    height: 24em;
    padding: 1em;
    border-radius: 1em;
    margin-top: 1.5em;
}

.fotoSushi {
    box-shadow: 0 0 5px 2px gray;
    border-radius: .5em;
    width: 10em;
    height: 19em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    
}
.fotoSushi a img {
    width: 27em;
    transition: 0.6s;
}
.fotoSushi a img:hover {
    opacity: 0.5;
}

.contenedorFotos p {
    margin-top: 0.5em;
    font-size: 0.9em;
    font-weight: 500;
}
/*--------------MAIN2----------*/
.galeria {
    width: 80%;
    height: 610px;
    margin: auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 40% 40% 20%;
    grid-template-rows: 50% 50%;
}
.esquina {
    border-radius: 15px;
    box-shadow: 0 0 10px 4px gray;
}
#galeria1 {
    background-image: url(../img/andrewNishimura.jpg);
    background-position: center;
    background-size: cover;
    filter: sepia(100%);
    grid-column: 1/2;
    grid-row: 1/2;
    transition: transform 1s;
}
#galeria1:hover {
    transform: rotate(360deg);

}
#galeria2 {
    background-image: url(../img/nakaneNishimura.jpg);
    background-position: center;
    background-size: cover;
    grid-column: 2/3;
    grid-row: 1/3;
    filter: blur(0.2em);
    transition: transform 1s, filter 1s ease-in;

}
#galeria2:hover {
    transform: rotate(40deg) scale(0.5);
    filter: none;
}
#galeria3 {
    background-image: url(../img/hichitoNishimura.jpg);
    background-position: right;
    background-size: cover;
    filter: grayscale(100%);
    grid-column: 3/4;
    grid-row: 1/2;
    transition: transform 1s;

}
#galeria3:hover {
    transform: rotateY(180deg);
}
#galeria4 {
    background-image: url(../img/joeNishimura.jpg);
    background-position: center;
    background-size: cover;
    grid-column: 1/2;
    grid-row: 2/3;
    transition: transform 1s;

}
#galeria4:hover {
    transform: rotateX(180deg);

}
#galeria5 {
    background-image: url(../img/fredNishimura.jpg);
    background-position: right;
    background-size: cover;
    filter: sepia(100%);
    grid-column: 3/4;
    grid-row: 2/3;
    transition: transform 1s;

}
#galeria5:hover {
    transform: skewX(30deg);
}
.citasEquipo {
    width: 75.8%;
    margin: auto;
    margin-top: 5em;
}
.contenedorEquipo {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
}
.fotoEquipo {

    background-repeat: no-repeat;
    width: 9em;
    height: 9em;
    border-radius: 50%;
    box-shadow: inset 0 0 10px 5px gray;

}
.fotoEquipo:hover {
    animation: rebota 0.4s infinite ;
}
@keyframes rebota {
    from {transform:translateY(10px)}
    to {transform: translateY(-10px);}
}
.textoEquipo {
    width: 84.5%;
    margin-top: 1em;
}
.foto1 {
    background-image: url(../img/andrewNishimura.jpg);
    background-size: 30em;
    background-position: top -2em left -14em;
    
}
.foto2 {
    background-image: url(../img/hichitoNishimura.jpg);
    background-size: 30em;
    background-position: top -0.8em left -17.2em;
}
.foto3 {
    background-image: url(../img/fredNishimura.jpg);
    background-size: 30em;
    background-position: top left -17.2em;
}
.foto4 {
    background-image: url(../img/nakaneNishimura.jpg);
    background-size: 20em;
    background-position: top 0em left -6em;
}
.foto5 {
    background-image: url(../img/joeNishimura.jpg);
    background-size: 17em;
    background-position: top 0em left -4em;
}
.derecha {
    border-left: none;
    border-right: 4px solid #0b95cc;
    float:right
}
/*------------MAIN3-------------*/
.carta {
    width: 100%;
    padding: 5em 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    position: relative;

    
}

.carta::before {
    content: "";
    position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    background-image: url(../img/sushitoRestaurant.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    
}
.contenedorCarta {
    border: 2px solid gray;
}

.menuCarta {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5em;
    padding: 0 2em ;
}
.menuCarta p {
    line-height: 4em;
}
.letraMenu {
    font-size: 13px;
    font-weight: bold;
}
/*-------------------MAIN4--------------*/
.contenedorLugar {
    width: 1903.4px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 8em;
}
.ubicacion {
    width: 28em;
    height: 28em;
    border-radius: 10% 45% 10% 45%;
    box-shadow: 0 0 5px 3px gray;
    overflow: hidden;

}
.ubicacion iframe {
    height: 100%;
    width: 100%;
}
.horario {
    width: 35em;
    padding: 3em;

    box-shadow: 0 0 5px 3px gray;
    border-radius: 10%;
}
.horario h3,h4 {
    margin-bottom: 1.4em;
}
.horario li {
    line-height: 2em;
}
.horario hr {
    width: 100%;
    border: 1px solid gray;
    margin: 1.5em 0;
}
.horario ul {
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    font-size: 13.5px;
    margin-left: 0.5em;
}
.fotoScroll2 {
    background-image: url(../img/fr2_sushitable.jpg);
}
.listaSecundaria {
    list-style: none;
    font-weight: normal;
}
.negrita {
    font-weight: 600;
}
.letraTel {
    font-style: oblique;
    color: gray;
    font-size: 13.5px;
}

/*-------RESPONSIVE--------*/
@media only screen and (max-width: 800px){

    #menu {
        height: auto;
    }
    #menu ul {
        display: flex;
        flex-direction: column;
    }
    #menu ul li{
        line-height: 4.5em;
    }
    #menu ul li a:hover {
        font-size: 1.2em;

    }
    .textoEquipo {
        font-size: 11px;
    }
    
}

